@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@section Styles
{
    <style type="text/css">

        h1, h2 {
            font-family: 'Paytone One', sans-serif;
            font-weight: bolder;
            color: white;
            font-size: 2em;
        }

    </style>
}