@{
    ViewBag.Title = "Error";
}

<div class="text-wrapper">
    <h2>Something went wrong!!!</h2>
</div>


@section Styles
{
    <style type="text/css">

        h2 {
            font-family: 'Paytone One', sans-serif;
            font-weight: bolder;
            color: white;
            font-size: 2em;
        }

        .text-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 100px;
        }
    </style>
}